<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wildlife</title>
</head>
<body>

<a href ="/animal/add">Add Animal</a>
<a href ="/ranger/add">Add Ranger</a>
<a href ="/sighting/add">Add Sighting</a>


</body>
</html>