<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Rangers</h1>
<form action="/create-ranger" method="post">

    <label>Name</label><br/>
    <input type="text" id="name" name="ranger">

    <div class="fcf-form-group">
        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
    </div>

</body>
</html>