<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sighting</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <img src="images/rangerpic.jpg" alt="image not found" width="25%" height="100">

    <!-- Custom CSS for the button and table borders -->
    <style>
        .btn-brown {
            background-color: #8B4513; /* Brown color */
            color: white; /* Text color for better contrast */
        }


        /* Border for the outer column */
        .outer-column {
            border: 1px solid #ccc; /* Add border to the outer column */
            padding: 10px; /* Add padding for a better appearance */
            border-radius: 5px; /* Add rounded corners for a neater look */
        }

        /* Border for the inner table */
        .inner-table {
            border: 1px solid #ccc; /* Add border to the table */
            border-radius: 5px; /* Add rounded corners for a neater look */
        }
    </style>
</head>
<body>
<h1>SIGHTING</h1>
<form action="/create-sighting" method="post">

    <label>Select Animal </label><br/>
    <select name="animalId"><br/><br/>
        {{#each animals}}
            <option value="{{this.id}}">{{this.text}}</option>
        {{/each}}
    </select></br></br>
    <label> Select Ranger</label><br/>
    <select name="rangerId"><br/><br/>
        {{#each rangers}}
            <option value="{{this.id}}">{{this.text}}</option>
        {{/each}}
    </select><br/><br/>
    <label>Select Health</label><br/>
    <select id="health" name="health"><br/>
        <option value="healthy">healthy</option>
        <option value="ill">ill</option>
        <option value="okay">okay</option>
        <label>Select location</label><br/>
    </select><br/><br/>
    <label> Select location</label><br/>
    <select id="location" name="location">
        <option value="Zone A">Zone A</option>
        <option value="Near the River">Near the River</option>
        <option value="NE Quadrant">NE Quadrant</option>
    </select>
    <p>Date/Time: <span id="datetime"></span></p>

    <script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
</script>

    <div class="fcf-form-group">
        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
    </div>

</form>

</body>
</html>